.container{
    display: block;
    width: 1000px;
    margin: 0 auto;
   
    margin-top: 200px;
}
h1{
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table,td,thead{
	border: 1px solid #333;
}
thead{
    background: rgb(53, 53, 53);
    color: white;
}
th{
    border-right: 1px solid #333;
}
th:last-child{
    border: none;
}