<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a href="/users/addEmp" class="btn btn-primary">Add Emp</a>
        </div>
    {{!-- </div> --}}
    {{!-- <div class="row"> --}}
        <div class="col-sm-3">
            <a href="" class="btn btn-danger">Delete Emp</a>
        </div>
        <div class="col-sm-3">
            <a href="/users/display" class="btn btn-success">Display</a>
        </div>
        <div class="col-sm-3">
            <a href="/users/search" class="btn btn-info">Search</a>
        </div>
    </div>
</div>