<div class="container">
    <h1>Login</h1>
    <form action="/users/login" method="post">
    
        <div class="row">
            <div class="form-group col-sm-6 col-sm-offset-3">
            <label for="username">Username:</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 col-sm-offset-3">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" required><br>
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
        </div>
     
        
        
        
    </form>
</div>